<html>
	<body>
		<book>
			<page class="page page--generic page--card-backs" data-header-icon="card-back">
				<h1 id="cards-backs">Card Backs</h1>
				<p>No deck of cards is complete without a suitable backing image. Use these card backs to create a custom card deck for your games.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<col-break></col-break>

				<div style="padding-bottom: 97px;">
					<card data-id="null" data-size="poker" data-bleed="full" data-side="back" style="transform: scale(1.24795); transform-origin: 0 0;"></card>
				</div>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Expanding the Deck</h4>
					</header>
					<section class="panel__body">
						<p>These cards are available to print-and-play for both Patreon (<a href="https://www.patreon.com/giffyglyph">www.patreon.com/giffyglyph</a>) and Twitch supporters (<a href="www.twitch.tv/giffyglyph">www.twitch.tv/giffyglyph</a>).</p>
						<p>Let me know if you would like to suggest new cards that may be suitable for this deck.</p>
					</section>
				</aside>
			</page>
			<page class="page page--cards">
				<cards data-size="poker" data-bleed="full" data-side="back">
					<card data-id="con_blinded"></card>
					<card data-id="con_blinded"></card>
					<card data-id="con_blinded"></card>
					<card data-id="con_blinded"></card>
					<card data-id="con_blinded"></card>
					<card data-id="con_blinded"></card>
					<card data-id="con_blinded"></card>
					<card data-id="con_blinded"></card>
					<card data-id="con_blinded"></card>
				</cards>
			</page>
		</book>
	</body>
</html>
