<html>
	<body>
		<book>
			<page class="page page--generic page--5e-conditions" data-header-icon="sight">
				<h1 id="cards-5e-conditions">5e Conditions</h1>
				<p>No adventurer stays in perfect health for long. Descend into danger and you're sure to find yourself afflicted with a debilitating condition—blinded, fatigued, grappled, etc.</p>
				<p>To help you track your status conditions easily, this chapter introduces a deck of print-and-play condition cards suitable for any D&D 5e game.</p>

				<h2>Deck Contents</h2>
				<p>This deck contains 24 print-and-play poker-sized cards:</p>
				<div class="layout--columns layout--columns--2">
					<ol>
						<li>Blinded</li>
						<li>Charmed</li>
						<li>Dead</li>
						<li>Deafened</li>
						<li>Dying</li>
						<li>Exhaustion</li>
						<li>Exhaustion 1</li>
						<li>Exhaustion 2</li>
						<li>Exhaustion 3</li>
						<li>Exhaustion 4</li>
						<li>Exhaustion 5</li>
						<li>Exhaustion 6</li>
					</ol>
					<ol start="13">
						<li>Fatigued</li>
						<li>Frightened</li>
						<li>Grappled</li>
						<li>Incapacitated</li>
						<li>Invisible</li>
						<li>Paralyzed</li>
						<li>Petrified</li>
						<li>Poisoned</li>
						<li>Prone</li>
						<li>Restrained</li>
						<li>Stunned</li>
						<li>Unconscious</li>
					</ol>
				</div>

				<p>Combine these card fronts with your choice of card back.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<col-break></col-break>

				<div style="padding-bottom: 97px;">
					<card data-id="con_blinded" data-size="poker" data-bleed="full" data-deck-code="A1" data-deck-size="24" data-deck-card="1" data-side="front" style="transform: scale(1.24795); transform-origin: 0 0;"></card>
				</div>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Expanding the Deck</h4>
					</header>
					<section class="panel__body">
						<p>These cards are available to print-and-play for both Patreon (<a href="https://www.patreon.com/giffyglyph">www.patreon.com/giffyglyph</a>) and Twitch supporters (<a href="www.twitch.tv/giffyglyph">www.twitch.tv/giffyglyph</a>).</p>
						<p>Let me know if you would like to suggest new cards that may be suitable for this deck.</p>
					</section>
				</aside>
			</page>
			<page class="page page--cards">
				<cards data-size="poker" data-bleed="full" data-deck-code="A1" data-deck-start=1 data-deck-size=24>
					<card data-id="con_blinded"></card>
					<card data-id="con_charmed"></card>
					<card data-id="con_dead"></card>
					<card data-id="con_deafened"></card>
					<card data-id="con_dying"></card>
					<card data-id="con_exhaustion"></card>
					<card data-id="con_exhaustion_1"></card>
					<card data-id="con_exhaustion_2"></card>
					<card data-id="con_exhaustion_3"></card>
				</cards>
			</page>
			<page class="page page--cards">
				<cards data-size="poker" data-bleed="full" data-deck-code="A1" data-deck-start=10 data-deck-size=24>
					<card data-id="con_exhaustion_4"></card>
					<card data-id="con_exhaustion_5"></card>
					<card data-id="con_exhaustion_6"></card>
					<card data-id="con_fatigued"></card>
					<card data-id="con_frightened"></card>
					<card data-id="con_grappled"></card>
					<card data-id="con_incapacitated"></card>
					<card data-id="con_invisible"></card>
					<card data-id="con_paralyzed"></card>
				</cards>
			</page>
			<page class="page page--cards">
				<cards data-size="poker" data-bleed="full" data-deck-code="A1" data-deck-start=19 data-deck-size=24>
					<card data-id="con_petrified"></card>
					<card data-id="con_poisoned"></card>
					<card data-id="con_prone"></card>
					<card data-id="con_restrained"></card>
					<card data-id="con_stunned"></card>
					<card data-id="con_unconscious"></card>
					<card></card>
					<card></card>
					<card></card>
				</cards>
			</page>
		</book>
	</body>
</html>
