<html>
	<body>
		<book>
			<page class="page page--generic page--faq" data-header-icon="faq">
				<h1 id="faq">FAQ</h1>
				<p>This section lists at some of the frequently asked questions regarding the <i>Card Codex</i>. If your question isn't answered here, feel free to contact me.</p>

				<h3><span class="h3__highlight">A</span>Who's the artist?</h3>
				<p>The card artwork (including the other artwork in this book) was created by me—Giffyglyph. The base heading icons were created by the artists of <strong>game-icons.net</strong>.</p>

				<ul>
					<li><strong>Card Artwork:</strong> Giffyglyph</li>
					<li><strong>Header Icons:</strong> <a href="https://www.game-icons.net">www.game-icons.net</a></li>
				</ul>

				<h3><span class="h3__highlight">B</span>Do you do commissions?</h3>
				<p>If you have a project or some commission work you think I may be able to help with, please contact me at:</p>
				<ul>
					<li><strong>Commissions:</strong> <a href="mailto:giffyglyph+commisions@gmail.com" target="_top">giffyglyph+commisions@gmail.com</a></li>
				</ul>

				<h3><span class="h3__highlight">C</span>I have a card/deck suggestion</h3>
				<p>If you have a suggestion about new cards or card decks—or you've noticed an error in an existing card—contact me to let me know.</p>
				<p>Some notable future expansions include:</p>
				<ul>
					<li>Weapon, armor, and equipment cards.</li>
					<li>Spell and class feature cards.</li>
					<li>Cards for the <i>Darker Dungeons</i> 5e supplement.</li>
				</ul>

				<h3><span class="h3__highlight">D</span>Can I reference this?</h3>
				<p>Feel free to reference parts of this book in your own free homebrew—with an appropriate credit back to me. But please don't replicate my work wholesale, nor use it in any for-sale variant or product.</p>

				<col-break></col-break>

				<h3><span class="h3__highlight">E</span>Can I sell decks with this art?</h3>
				<p>No—the artwork in this supplement is provided for personal use only. You may print card decks for your own table and games, but please don't share, upload, or resell the art for any other purpose.</p>

				<h3><span class="h3__highlight">F</span>Can I buy a printed deck?</h3>
				<p>Not at the moment, no. I'm currently looking into this as a few people have requested printed decks. In the meantime, this project (and most of my other work) is released on <i>Pay-What-You-Want</i> terms.</p>
				<p>If this supplement has helped out your game and you'd like to support my work:</p>
				<ul>
					<li><strong>Patreon:</strong> <a href="https://patreon.com/giffyglyph">Become a Patron</a> (patreon.com/giffyglyph) to support this and my other projects.</li>
					<li><strong>Ko-fi:</strong> My <a href="https://ko-fi.com/giffyglyph">Ko-fi page</a> (ko-fi.com/giffyglyph) is always open to kind, one-off donations.</li>
					<li><strong>Spread the Word:</strong> Share a tweet/like/review/etc if this supplement has helped your game.</li>
				</ul>

				<div class="button-group button-group--links">
					<a class="button button--lg" href="https://www.patreon.com/bePatron?u=12684623">
						<span class="button__icon"><i class="fab fa-patreon fa-fw"></i></span>
						<span class="button__text">Become a Patron</span>
					</a>
					<a class="button button--lg" href="https://www.twitch.tv/giffyglyph">
						<span class="button__icon"><i class="fab fa-twitch fa-fw"></i></span>
						<span class="button__text">Talk on Twitch</span>
					</a>
				</div>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Contact Me</h4>
					</header>
					<section class="panel__body">
						<p>Thanks for reading this! If you have any questions or feedback, you can DM me at <a href="https://www.reddit.com/user/giffyglyph/">/u/giffyglyph</a> or <a href="https://twitter.com/giffyglyph">@giffyglyph</a>, email me at <a href="mailto:giffyglyph+dd@gmail.com">giffyglyph@gmail.com</a>, or follow my other assorted works at <a href="http://giffyglyph.com">www.giffyglyph.com</a>.</p>
					</section>
				</aside>
			</page>
		</book>
	</body>
</html>
